body {
  margin: 0;
  padding: 0;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000; 
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.main-header {
  background-color: #fcdb00;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 58px;
  padding-bottom: 64px;
  
  font-weight: 700;
}

.header-logo {
  display: flex;
  align-items: center;
  width: 160px;
  
  font-size: 30px;
  text-transform: lowercase;
}

.logo-pic {
  margin-right: 10px;
}

.site-nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  
  font-size: 22px;
  
  list-style: none;
}

.site-nav .nav-item {
  margin-left: 39px;
  margin-right: 35px;
}

.advantages {
  padding-bottom: 47px;
  
  background-color: #fcdb00;
}

.advantages-list {
  margin: 0 0 45px 0;
  padding: 0;
  
  list-style: none;
}

.advantages-list .list-item {
  display: flex;
}

.advantages-list .item-left-col {
  padding: 75px 180px 0 1px;
}

.advantages-list .item-right-col {
  padding-right: 71px;
}

.advantages-list .item-header {
  margin: 0 0 25px 0;
  padding: 0;
  
  font-size: 32px;
  line-height: 18px;
  font-weight: 700;
}

.advantages-list .item-text.slogan {
  margin-bottom: 22px;
  
  font-size: 20px;
  line-height: 24px;
  color: #313841;
}

.advantages-list .item-text.description {
  margin-bottom: 40px;
  
  color: #555555;
}

.apps-list {
  display: flex;
  
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.apps-list .list-item {
  margin-right: 37px;
}

.advantages-nav {
  position: relative;
  top: -2px;
  left: -15px;
  
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.advantages-nav .nav-item {
  width: 14px;
  height: 14px;
  margin-right: 8px;
  
  background-color: #feed80;
  border-radius: 50%;
}

.advantages-nav .nav-item.active {
  background-color: #fff;
}

.features {
  padding-top: 88px;
  padding-bottom: 78px;
}

.features-header {
  margin-bottom: 15px;
  padding-right: 35px;
  
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
}

.features-text {
  width: 80%;
  margin: 0 auto 85px;
  padding-right: 35px;
  
  font-size: 20px;
  line-height: 24px;
  color: #313841;
  text-align: center;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.features-list .list-item {
  position: relative;
  
  flex-basis: 245px;
  margin-bottom: 85px;
  padding-left: 72px;
}

.features-list .list-item::before {
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  
  width: 60px;
  height: 60px;
  
  background-position: left top;
  background-repeat: no-repeat;
}

.features-list .list-item.fully-responsive::before {
  background-position: 5px top;
  background-image: url(../img/icon-font-1.png);
}

.features-list .list-item.fully-layered-psd::before {
  background-image: url(../img/icon-font-3.png);
}

.features-list .list-item.font-awersome-icons::before {
  background-image: url(../img/icon-font-2.png);
}

.features-list .list-item.html3-and-css3::before {
  background-image: url(../img/icon-font-4.png);
}

.features-list .list-item.email-template::before {
  background-image: url(../img/icon-font-3-1.png);
}

.features-list .list-item.free-download::before {
  background-position: 5px top;
  background-image: url(../img/icon-font-2-1.png);
}
 
.features-list .item-header {
  margin: 0 0 11px;
  padding: 0;
  
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
}

.features-list .item-text {
  margin: 0;
  padding: 0;
  
  color: #898989;
}

.feedback {
  padding-top: 91px;
  padding-bottom: 125px;
  
  background-color: #010101; 
}

.feedback .container {
  width: 780px;
  
}

.feedback-header {
  margin: 0 0 16px;
  padding: 0 35px 0 0;
  
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  color: #fcdb00;
  text-align: center;
}

.feedback-text {
  margin: 0 0 25px;
  padding: 0 35px 0 0;
  
  font-size: 20px;
  line-height: 24px;
  color: #898989;
  text-align: center;
}

.feedback-form {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  padding-left: 5px;
  padding-right: 30px;
}

.feedback-form .form-item {
  margin-right: 20px;
}

.feedback-form .form-field {
  width: 580px;
  padding: 15px 22px;
  
  color: #898989;
  
  border: none;
  border-radius: 5px;
}

.feedback-form .form-button {
  padding: 13px 35px;
  
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  
  background-color: #fcdb00;
  border: none;
  border-radius: 5px;
}

.social-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 65px 0 0;
  
  list-style: none;
}

.social-list .list-item {
  width: 45px;
  height: 45px;
  margin-right: 25px;
  
  background-position: center;
  background-repeat: no-repeat;
}

.social-list .list-item.facebook {
  background-image: url("../img/facebook_ico.png");
}

.social-list .list-item.twitter {
  background-image: url("../img/twitter_ico.png");
}

.social-list .list-item.google {
  background-image: url("../img/google.png");
}

.social-list .list-item.pinterest {
  background-image: url("../img/pinteres_ico.png");
}

.main-footer {
  padding-bottom: 145px;
  
  color: #ffffff;
  background-color: #010101;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  flex-basis: 286px;
  margin-right: 20px;
  padding-left: 4px;
  
  font-style: normal;
}

.contacts-address,
.contacts-email, 
.contacts-phone {
  margin: 0;
  padding: 0;
}

.contacts-address {
  margin-bottom: 3px;
}

.contacts-email {
  margin-bottom: 4px;
}

.footer-nav .site-nav {
  align-items: start;
  
  font-size: 16px;
  line-height: 20px;
}

.footer-nav .nav-item {
  margin-left: 0px;
}

.group-items.col-1 {
  margin-right: 61px; 
}

.group-items.col-2 {
  margin-right: 74px
}

.group-items.col-3 {
  margin-right: 46px; 
}

.items-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}