.funs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 23px 45px;
}

.inner-page .funs {
  width: 42%;
  padding: 0 0 0 86px;
}

.funs__header {
  width: 100%;
  margin: 14px 8px 17px;
  padding: 0;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.funs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.inner-page .funs__list {
  flex-direction: column;
}

.funs__more {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.funs__more:hover {
  color: rgba(0, 0, 0, .6);
}

@media (max-width: 930px) {
  .funs {
    padding: 14px 11px 34px;
  }
}