body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
}

.inner-page .container {
  display: flex;
  flex-wrap: wrap;
  padding: 42px 61px;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}