<html>
  <head>
    <meta charset="utf-8"/>
    <title>tinyone-1</title>
    
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/style.css"/>
  </head>
  <body>
    <header class="main-header">
      <div class="container">
        <nav class="header-nav">
          <a class="header-logo">
            <img class="logo-pic" src="img/fingerprint.png" alt="Site logo"/>
            <span class="logo-text">Tinyone</span>
          </a>
          <ul class="site-nav">
            <li class="nav-item">
              <a class="item-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="item-link" href="#">Support</a>
            </li>
            <li class="nav-item">
              <a class="item-link" href="#">Blog</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main-content">
      <section class="advantages">
        <div class="container">
          <ul class="advantages-list">
            <li class="list-item">
              <div class="item-left-col">
                <h2 class="item-header">Inspire your inspiration</h2>
                <p class="item-text slogan">Simple to use for your app, products showcase and your inspiration</p>
                <p class="item-text description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Praesent vitae eros eget tellus tristique bibendum. 
                  Donec rutrum sed sem quis venenatis. 
                  Proin viverra risus a eros volutpat tempor. 
                  In quis arcu et eros porta lobortis sit 
                </p>
                <ul class="apps-list">
                  <li class="list-item">
                    <img class="item-pic" src="img/icon-fa-apple.png" alt="Apple logo"/>
                  </li>
                  <li class="list-item">
                    <img class="item-pic" src="img/icon-fa-android.png" alt="Android logo"/>
                  </li>
                  <li class="list-item">
                    <img class="item-pic" src="img/icon-fa-windows.png" alt="Windows logo"/>
                  </li>
                </ul>
              </div>
              <div class="item-right-col">
                <img class="item-pic" src="img/iPad_Mini_White_facing.png" alt="Ipad"/>
              </div>
            </li>
          </ul>
          <ul class="advantages-nav">
            <li class="nav-item active"></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
          </ul>
        </div>
      </section>
      <section class="features">
        <div class="container">
          <h2 class="features-header">Tinyone features</h2>
          <p class="features-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
          </p>
          <ul class="features-list">
            <li class="list-item fully-responsive">
              <h3 class="item-header">Fully Responsive</h3>
              <p class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
            </li>
            <li class="list-item fully-layered-psd">
              <h3 class="item-header">Fully Layered PSD</h3>
              <p class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
            </li>
            <li class="list-item font-awersome-icons">
              <h3 class="item-header">Font Awesome Icons</h3>
              <p class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
            </li>
            <li class="list-item html3-and-css3">
              <h3 class="item-header">HTML3 & CSS3</h3>
              <p class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
            </li>
            <li class="list-item email-template">
              <h3 class="item-header">Email Template</h3>
              <p class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
            </li>
            <li class="list-item free-download">
              <h3 class="item-header">Free to download</h3>
              <p class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
            </li>
          </ul>
        </div>
      </section>
      <section class="feedback">
        <div class="container">
          <h2 class="feedback-header">Keep in touch with us</h2>
          <p class="feedback-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
          </p>
          <form class="feedback-form">
            <p class="form-item">
              <input class="form-field" type="text" name="email" placeholder="Enter your email to update"/>
            </p>
            <button class="form-button" type="submit">Submit</button>
          </form>
          <ul class="social-list">
            <li class="list-item facebook">
              
            </li>
            <li class="list-item twitter">
              
            </li>
            <li class="list-item google">
              
            </li>
            <li class="list-item pinterest">
              
            </li>
          </ul>
        </div>
      </section>
    </main>
    <footer class="main-footer">
      <div class="container">
        <address class="footer-contacts">
          <p class="contacts-address">
            HALOVIETNAM LTD <br/>
            66, Dang Van ngu, Dong Da <br/>
            Hanoi, Vietnam <br/>
          </p>
          <p class="contacts-email">
            contact@halovietnam.com
          </p>
          <p class="contacts-phone">
            +844 35149182
          </p>
        </address>
        <nav class="footer-nav">
          <ul class="site-nav">
            <li class="group-items col-1">
              <ul class="items-list">
                <li class="nav-item">
                  <a class="item-link" href="#">Examples</a>
                </li>
                <li class="nav-item">
                  <a class="item-link" href="#">Shop</a>
                </li>
                <li class="nav-item">
                  <a class="item-link" href="#">License</a>
                </li>
              </ul>
            </li>
            <li class="group-items col-2">
              <ul class="items-list">
                <li class="nav-item">
                  <a class="item-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="item-link" href="#">About</a>
                </li>
                <li class="nav-item">
                  <a class="item-link" href="#">Privacy</a>
                </li>
                <li class="nav-item">
                  <a class="item-link" href="#">Terms</a>
                </li>
              </ul>
            </li>
            <li class="group-items col-3">
              <ul class="items-list">
                <li class="nav-item">
                  <a class="item-link" href="#">Download</a>
                </li>
                <li class="nav-item">
                  <a class="item-link" href="#">Support</a>
                </li>
                <li class="nav-item">
                  <a class="item-link" href="#">Documents</a>
                </li>
              </ul>
            </li>
            <li class="group-items col-4">
              <ul class="items-list">
                <li class="nav-item">
                  <a class="item-link" href="#">Media</a>
                </li>
                 <li class="nav-item">
                  <a class="item-link" href="#">Blog</a>
                </li>
                 <li class="nav-item">
                  <a class="item-link" href="#">Forums</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>