<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  
    <title>Apollo</title>
    
    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
  </head>
  <body>
    <header class="main-header">
      <div class="menu">
      </div>
    </header>
    <main class="main-content">
      <section class="introduce">
        <h2 class="introduce-header"><strong>Apollo</strong> PSD Template</h2>
        <p class="introduce text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
          eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
          Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
          sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
      </section>
      <section class="greeting">
        <h2 class="greeting">My name is <strong>Apollo</strong></h2>
        <p class="greeting-text">
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
          eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
        </p>
        <p class="greeting-text">
          Ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
        <ul class="social-list">
          <li class="list-item facebook"></li>
          <li class="list-item instagram active"></li>
          <li class="list-item twitter"></li>
          <li class="list-item pinterest"></li>
        </ul>
      </section>
      <section class="gallery full">
        <img class="picture" src="img/gallery-pic-1.jpg" alt="gallery-pic-1"/>
        <button class="gallery-button prev"></button>
        <button class="gallery-button next"></button>
      </section>
      <section class="features">
        <h2 class="features-header"><strong>Ut enim</strong>  ad minim</h2>
        <p class="feature-text">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
          ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
      </section>
      <section class="gallery compact">
        <img class="picture prev" src="img/gallery-pic-1.jpg" alt="gallery-pic-1"/>
        <img class="picture curr" src="img/gallery-pic-1.jpg" alt="gallery-pic-1"/>
        <img class="picture next" src="img/gallery-pic-1.jpg" alt="gallery-pic-1"/>
        <button class="gallery-button prev"></button>
        <button class="gallery-button next"></button>
      </section>
      <section class="feedback">
        <h2 class="feedback-header"><strong>Say</strong> Hello</h2>
        <p class="feedback-text">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
          ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non.
          ius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
        <form class="feedback-form" action="" method="post" >
          <div class="form-field">
            <input class="form-input" type="email" name="email" id="" placeholder="Your Email"/>
          </div>
          <div class="form-field">
            <input class="form-input" type="text" name="subject" id="" placeholder="Subject"/>
          </div>
          <div class="form-field">
            <textarea class="form-textarea" name="message" id="" placeholder="Message"></textarea>
          </div>
          <button class="form-button">Send message</button>
        </form>
      </section>
    </main>
  </body>
</html>