<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport"/>
    <title>
      Just Funny Tap
    </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet"/>
    <link href="css/style.css?1" rel="stylesheet"/>
  </head>
</html>
<body class="index-page">
  <header class="header">
    <div class="container">
      <a class="header__link" href="index.html">
        <img class="header__logo" src="img/header-logo.png" alt="header_logo" width="50" height="51"/>
      </a>
      <div class="header__sitename">
        Just Funny Tap
      </div>
      <button class="header__menu-toggle">
      </button>
      <nav class="header__menu menu">
        <ul class="menu__nav nav">
          <li class="nav__item">
            <a class="nav__link" href="#">
              Funny Birds
            </a>
          </li>
          <li class="nav__item nav__item--active">
            <a class="nav__link" href="#">
              Funny Cats
            </a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">
              Funny Dogs
            </a>
          </li>
        </ul>
        <a class="menu__login" href="#">
          Log In
        </a>
      </nav>
    </div>
  </header>
  <main class="content">
    <div class="container">
      <section class="funs">
        <ul class="funs__list">
          <li class="funs__list-item fun">
            <h2 class="fun__header">
              When my cat wants to sit
            </h2>
            <div class="fun__content">
              <img class="fun__img" src="img/cat.png" alt="fun_image" />
              <div class="fun__author">
                Fun: John Doe
              </div>
              <div class="fun__meta">
                <div class="fun__rate">
                  <button class="fun__rate-btn fun__rate-btn--up">
                    ▲
                  </button>
                  <span class="fun__rating">
                    150
                  </span>
                  <button class="fun__rate-btn fun__rate-btn--down">
                    ▼
                  </button>
                </div>
                <div class="fun__comments">
                  15
                </div>
                <button class="fun__play">
                </button>
              </div>
            </div>
          </li>
          <li class="funs__list-item fun">
            <h2 class="fun__header">
              When my cat wants to sit
            </h2>
            <div class="fun__content">
              <img class="fun__img" src="img/cat.png" alt="fun_image" />
              <div class="fun__author">
                Fun: John Doe
              </div>
              <div class="fun__meta">
                <div class="fun__rate">
                  <button class="fun__rate-btn fun__rate-btn--up">
                    ▲
                  </button>
                  <span class="fun__rating">
                    150
                  </span>
                  <button class="fun__rate-btn fun__rate-btn--down">
                    ▼
                  </button>
                </div>
                <div class="fun__comments">
                  15
                </div>
                <button class="fun__play">
                </button>
              </div>
            </div>
          </li>
          <li class="funs__list-item fun">
            <h2 class="fun__header">
              When my cat wants to sit
            </h2>
            <div class="fun__content">
              <img class="fun__img" src="img/cat.png" alt="fun_image"/>
              <div class="fun__author">
                Fun: John Doe
              </div>
              <div class="fun__meta">
                <div class="fun__rate">
                  <button class="fun__rate-btn fun__rate-btn--up">
                    ▲
                  </button>
                  <span class="fun__rating">
                    150
                  </span>
                  <button class="fun__rate-btn fun__rate-btn--down">
                    ▼
                  </button>
                </div>
                <div class="fun__comments">
                  15
                </div>
                <button class="fun__play">
                </button>
              </div>
            </div>
          </li>
          <li class="funs__list-item fun">
            <h2 class="fun__header">
              When my cat wants to sit
            </h2>
            <div class="fun__content">
              <img class="fun__img" src="img/cat.png" alt="fun_image" />
              <div class="fun__author">
                Fun: John Doe
              </div>
              <div class="fun__meta">
                <div class="fun__rate">
                  <button class="fun__rate-btn fun__rate-btn--up">
                    ▲
                  </button>
                  <span class="fun__rating">
                    150
                  </span>
                  <button class="fun__rate-btn fun__rate-btn--down">
                    ▼
                  </button>
                </div>
                <div class="fun__comments">
                  15
                </div>
                <button class="fun__play">
                </button>
              </div>
            </div>
          </li>
        </ul>
        <button class="funs__more">
          More FUNs ▼
        </button>
      </section>
    </div>
  </main>
  <script src="js/script.js"></script>
</body>
