<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport"/>
    <title>
      Just Funny Tap
    </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet"/>
    <link href="css/style.min.css" rel="stylesheet"/>
  </head>
</html>
<body class="inner-page">
  <header class="header">
    <div class="container">
      <a class="header__link" href="index.html">
        <img alt="header_logo" class="header__logo" height="51" src="img/header-logo.png" width="50"/>
      </a>
      <div class="header__sitename">
        Just Funny Tap
      </div>
      <button class="header__menu-toggle">
      </button>
      <nav class="header__menu menu">
        <ul class="menu__nav nav">
          <li class="nav__item">
            <a class="nav__link" href="#">
              Funny Birds
            </a>
          </li>
          <li class="nav__item nav__item--active">
            <a class="nav__link" href="#">
              Funny Cats
            </a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">
              Funny Dogs
            </a>
          </li>
        </ul>
        <a class="menu__login" href="#">
          Log In
        </a>
      </nav>
    </div>
  </header>
  <main class="content">
    <div class="container">
      <section class="fun-expanded">
        <div class="fun-expanded__header">
          <h2 class="fun-expanded__header-text">
            When my cat watch to you like a boss
          </h2>
          <time class="fun-expanded__header-date" datetime="2019-09-13">
            13.09.2019
          </span>
        </div>
        <div class="fun-expanded__content">
          <div class="fun-expanded__img">
            <img class="fun-expanded__pic" src="img/cat-expanded.png" alt="fun_img" />
          </div>
          <div class="fun-expanded__description">
            <p class="fun-expanded__description-item">
              My cat lives in Colorado and eats different food, but when he sitting like a human I want to laugh.
            </p>
            <p class="fun-expanded__description-item">
              My cat lives in Colorado and eats different food, but when he sitting like a human I want to laugh.
            </p>
            <p class="fun-expanded__description-item">
              My cat lives in Colorado and eats different food, but when he sitting like a human I want to laugh.
              <br/>
              My cat lives in Colorado and eats different food, but when he sitting like a human I want to laugh.
            </p>
            <p class="fun-expanded__description-item">
              Please, guys, subcsribe to me 🙏
            </p>
          </div>
        </div>
        <div class="fun-expanded__meta">
          <div class="fun-expanded__actions">
            <div class="fun-expanded__rate rate">
              <button class="rate__btn rate__btn--up">
                ▲
              </button>
              <span class="rate__rating">
                150 votes
              </span>
              <button class="rate__btn rate__btn--down">
                ▼
              </button>
            </div>
            <button class="fun-expanded__subscribe">
              Subscribe For More FUN
            </button>
          </div>
          <div class="fun-expanded__author">
            John Doe with FUN 😁
          </div>
        </div>
      </section>
      <section class="comments">
        <form class="comments__form" action="">
          <h3 class="comments__form-header">
            Stay your comment here 👇
          </h3>
          <textarea class="comments__form-textarea" name="comment_text"></textarea>
          <button class="comments__form-submit">Comment</button>
        </form>
        <div class="comments__header">
          <h3 class="comments__header-text">Comments</h3>
          <button class="comments__sort-button comments__sort-button--desc">Sort By Date</button>
        </div>
        <ul class="comments__list">
          <li class="comments__list-item comment">
            <h4 class="comment__author">Rebecca says</h4>
            <time class="comment__date" datetime="2019-09-13T17:05">13.09.2019 5:05PM</time>
            <div class="comment__text">OMG, this cat is amazing. That perfect 😱</div>
            <button class="comment__reply">✍️ Answer her</button>
          </li>
          <li class="comments__list-item comment">
            <h4 class="comment__author">Rebecca says</h4>
            <time class="comment__date" datetime="2019-09-13T17:05">13.09.2019 5:05PM</time>
            <div class="comment__text">OMG, this cat is amazing. That perfect 😱</div>
            <button class="comment__reply">✍️ Answer her</button>
          </li>
          <li class="comments__list-item comment">
            <h4 class="comment__author">Rebecca says</h4>
            <time class="comment__date" datetime="2019-09-13T17:05">13.09.2019 5:05PM</time>
            <div class="comment__text">OMG, this cat is amazing. That perfect 😱</div>
            <button class="comment__reply">✍️ Answer her</button>
          </li>
        </ul>
      </section>
      <section class="funs">
        <h3 class="funs__header">
          Another FUNs from Joe Doe 🙀
        </h3>
        <ul class="funs__list">
          <li class="funs__list-item fun">
            <h2 class="fun__header">
              When my cat wants to sit
            </h2>
            <div class="fun__content">
              <img class="fun__img" src="img/cat.png" alt="fun_image" />
              <div class="fun__author">
                Fun: John Doe
              </div>
              <div class="fun__meta">
                <div class="fun__rate rate">
                  <button class="rate__btn rate__btn--up">
                    ▲
                  </button>
                  <span class="rate__rating">
                    150
                  </span>
                  <button class="rate__btn rate__btn--down">
                    ▼
                  </button>
                </div>
                <div class="fun__comments">
                  15
                </div>
                <button class="fun__play">
                </button>
              </div>
            </div>
          </li>
          <li class="funs__list-item fun">
            <h2 class="fun__header">
              When my cat wants to sit
            </h2>
            <div class="fun__content">
              <img class="fun__img" src="img/cat.png" alt="fun_image" />
              <div class="fun__author">
                Fun: John Doe
              </div>
              <div class="fun__meta">
                <div class="fun__rate rate">
                  <button class="rate__btn rate__btn--up">
                    ▲
                  </button>
                  <span class="rate__rating">
                    150
                  </span>
                  <button class="rate__btn rate__btn--down">
                    ▼
                  </button>
                </div>
                <div class="fun__comments">
                  15
                </div>
                <button class="fun__play">
                </button>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </main>
  <div class="modal modal--auth modal--hide">
    <form class="modal__content" data-type="auth">
      <label class="modal__label">
        <span class="modal__label-text">Email</span>
        <input class="modal__input modal__input--email" type="email" />
      </label>
      <label class="modal__label">
        <span class="modal__label-text">Password</span>
        <input class="modal__input modal__input--password" type="password" />
      </label>
      <button class="modal__btn modal__btn--change-form">Sign up</button>
      <button class="modal__btn modal__btn--submit" type="submit">Sign in</button>
      <p class="modal__result modal__result--hide"></p>
    </form>
  </div>
  <script src="js/script.min.js">
  </script>
</body>
